target/
circom/node_modules/
circom/e2e_tests/contribute.out
circom/e2e_tests/plonky2.sym
circom/e2e_tests/plonky2_0.zkey
circom/e2e_tests/plonky2.r1cs
circom/e2e_tests/zkey0.out
circom/e2e_tests/plonky2_js